In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import networkx as nx
from collections import Counter # counting groups in the islands
import csv

In [2]:
#world_cities_global_firms = pd.read_csv("https://raw.githubusercontent.com/jonathan1987/DATA620/master/Project2/cities/da6.csv", header=0, skiprows=1, index_col = 0)

In [3]:
world_cities_global_firms = pd.read_csv("da6.csv", header=0, skiprows=1, index_col = 0)

In [4]:
world_cities_global_firms = world_cities_global_firms.drop('Unnamed: 47',1)
#world_cities_global_firms = world_cities_global_firms.drop_duplicates(inplace=True)
#world_cities_global_firms.drop_duplicates(inplace=True)
print(world_cities_global_firms.shape)
firms = list(world_cities_global_firms.columns)

(55, 47)

In [5]:
print(world_cities_global_firms)

                KP  CL  EY  AA  PW  GR  DM  LH  SS  TH  ...  GJ  HH  JD  MC  \
CITIES                                                  ...
Amsterdam        3   3   1   1   3   1   1   1   1   1  ...   0   0   0   0
Atlanta          3   3   2   2   2   0   0   0   0   1  ...   0   0   3   0
Bangkok          1   1   1   2   2   1   1   0   1   1  ...   1   0   0   0
Barcelona        1   1   1   1   2   1   1   1   1   1  ...   0   0   0   0
Beijing          1   1   1   1   2   0   1   0   1   1  ...   1   0   0   0
Berlin           2   3   2   2   1   0   0   0   0   0  ...   0   0   0   0
Boston           3   3   2   1   1   0   0   0   0   0  ...   0   0   0   0
Brussels         2   3   3   1   3   1   1   1   1   1  ...   0   1   2   0
Budapest         1   2   1   1   1   0   1   1   1   1  ...   0   1   0   0
Buenos Aires     2   2   1   1   1   1   1   0   1   1  ...   0   0   0   0
Caracas          2   1   2   1   1   1   1   1   1   1  ...   0   0   0   0
Chicago          3   3   3   2   2   0   0   0   0   1  ...   0   0   3   0
Copenhagen       3   2   2   1   2   1   1   1   1   1  ...   0   0   0   0
Dallas           3   2   3   1   2   0   0   0   0   1  ...   0   0   3   0
Dusseldorf       3   3   3   2   3   1   1   1   0   0  ...   0   0   0   0
Frankfurt        3   3   2   2   2   1   1   1   1   1  ...   0   0   3   0
Geneva           1   2   1   1   2   1   1   0   0   0  ...   0   0   1   0
Hamburg          2   3   3   2   1   1   1   1   0   1  ...   0   0   0   0
Hong Kong        3   3   3   1   1   1   1   1   1   1  ...   1   0   1   0
Houston          2   2   2   1   1   0   0   0   0   1  ...   0   0   0   0
Istanbul         1   1   1   1   1   0   1   1   1   1  ...   0   0   0   0
Jakarta          2   2   2   1   2   0   1   0   1   1  ...   0   0   0   0
Johannesburg     3   3   2   1   2   0   1   0   1   1  ...   0   0   0   0
Kuala Lumpur     2   1   2   2   1   1   1   0   1   1  ...   0   0   0   0
London           3   3   3   3   3   1   1   1   1   1  ...   1   1   2   0
Los Angeles      3   2   2   2   2   1   1   0   1   1  ...   3   1   3   0
Madrid           2   2   2   1   3   1   1   1   1   1  ...   0   0   0   0
Manila           1   1   1   1   2   1   1   0   1   1  ...   0   0   0   0
Melbourne        3   3   1   1   2   1   0   0   1   1  ...   0   0   0   0
Mexico City      2   3   3   1   1   1   1   1   1   1  ...   0   0   0   0
Miami            2   1   2   1   1   0   0   0   1   1  ...   0   0   0   0
Milan            2   3   3   2   3   1   1   1   0   1  ...   3   0   0   0
Minneapolis      2   2   1   1   1   0   0   0   0   1  ...   0   0   0   0
Montreal         3   2   3   2   1   1   1   0   0   1  ...   0   0   0   0
Moscow           2   1   1   2   2   0   1   1   1   1  ...   0   1   0   0
Munich           2   2   3   2   1   0   0   0   0   0  ...   0   0   0   0
New York         3   3   3   2   3   1   1   1   1   1  ...   3   0   3   1
Osaka            1   2   2   3   2   0   0   0   0   0  ...   0   0   0   0
Paris            3   3   3   2   3   1   1   1   1   1  ...   0   2   3   0
Prague           1   1   1   1   1   0   1   1   1   1  ...   0   1   0   0
Rome             1   1   3   2   2   0   1   0   0   1  ...   0   0   0   0
San Francisco    3   3   3   1   2   1   1   0   1   1  ...   3   0   0   0
Sao Paulo        2   2   2   1   2   1   1   1   1   1  ...   0   0   0   0
Santiago         1   2   2   1   3   1   1   0   1   0  ...   0   0   0   0
Seoul            2   2   2   1   3   0   1   0   1   1  ...   0   0   0   0
Shanghai         1   1   1   1   2   0   1   0   1   1  ...   0   0   0   0
Singapore        2   2   1   1   2   1   1   1   1   1  ...   0   0   0   0
Stockholm        3   3   2   1   1   1   1   1   1   1  ...   0   0   0   0
Sydney           3   3   3   2   2   1   1   0   1   1  ...   1   0   0   0
Taipei           2   2   2   1   1   1   1   0   1   1  ...   0   0   2   0
Tokyo            3   3   3   2   3   1   1   0   1   1  ...   1   0   1   0
Toronto          3   3   3   2   3   1   1   1   1   1  ...   0   0   0   0
Warsaw           1   1   2   1   1   0   1   1   0   1  ...   0   2   0   1
Washington, DC   3   3   3   2   2   0   0   0   0   0  ...   2   3   3   1
Zurich           2   2   3   1   2   1   1   1   1   1  ...   0   0   0   0

                SQ  WE  AO  CC  FF  Unnamed: 47
CITIES
Amsterdam        0   0   0   1   0           38
Atlanta          0   0   0   0   0           18
Bangkok          0   0   0   1   1           39
Barcelona        0   0   0   1   1           33
Beijing          0   0   1   0   1           32
Berlin           0   0   0   0   0           19
Boston           0   0   0   0   0           26
Brussels         1   0   1   1   1           54
Budapest         1   0   1   1   0           33
Buenos Aires     0   0   0   0   0           34
Caracas          0   0   0   0   0           30
Chicago          0   2   0   0   0           42
Copenhagen       0   0   0   0   0           24
Dallas           0   2   0   0   0           29
Dusseldorf       0   0   0   1   0           33
Frankfurt        0   0   1   1   1           57
Geneva           0   0   0   0   0           27
Hamburg          0   0   0   0   0           24
Hong Kong        0   0   1   1   1           68
Houston          1   1   0   0   0           24
Istanbul         0   0   0   0   0           30
Jakarta          0   0   0   0   0           38
Johannesburg     0   0   0   0   0           32
Kuala Lumpur     0   0   0   0   0           32
London           1   1   1   1   1           97
Los Angeles      0   3   0   0   0           65
Madrid           0   0   1   1   1           52
Manila           0   0   0   0   0           31
Melbourne        0   0   0   0   0           37
Mexico City      0   0   0   0   0           43
Miami            1   2   0   0   0           33
Milan            0   0   1   1   1           56
Minneapolis      0   0   0   0   0           13
Montreal         0   0   0   0   0           29
Moscow           0   0   1   1   1           45
Munich           0   0   0   0   0           22
New York         2   3   1   1   1          105
Osaka            0   0   0   0   0           16
Paris            0   0   1   1   1           71
Prague           2   0   1   1   0           37
Rome             0   0   1   1   1           24
San Francisco    0   3   0   0   0           54
Sao Paulo        0   0   0   0   0           42
Santiago         0   0   0   0   0           33
Seoul            0   0   0   0   0           37
Shanghai         0   0   0   1   0           27
Singapore        0   0   1   1   1           61
Stockholm        0   0   0   0   0           32
Sydney           0   0   0   0   0           56
Taipei           0   0   0   0   0           41
Tokyo            0   1   1   1   1           66
Toronto          0   0   0   0   0           48
Warsaw           0   0   1   1   0           36
Washington, DC   3   2   0   0   0           54
Zurich           0   0   0   0   0           48

[55 rows x 47 columns]

In [6]:
data = open('da6+.net', 'r')
lines = data.readlines()
firm_industry = {}

for i in lines[59:64]:
    firm_industry[i[5:7]] = "Accountancy"

for i in lines[65:76]:
    firm_industry[i[5:7]] = "Advertising"
    
for i in lines[77:91]:
    firm_industry[i[5:7]] = "Banking and Finance"

for i in lines[92:108]:
    firm_industry[i[5:7]] = "Law"

In [7]:
world_cities_global_firms_tp = np.transpose(world_cities_global_firms)
#world_cities_global_firms_tp.drop_duplicates(inplace=True)

# Check the shape of matrix and transpose matrix
print(world_cities_global_firms_tp.shape)
print(world_cities_global_firms.shape)

world_cities_adjmatrix = np.dot(world_cities_global_firms, world_cities_global_firms_tp)
print(world_cities_adjmatrix.shape)
world_cities_adjmatrix
#np.matmul(np.transpose(world_cities_global_firms), world_cities_global_firms)

#world_cities_adjmatrix = np.matmul(np.transpose(world_cities_global_firms),world_cities_global_firms)

(47, 55)
(55, 47)
(55, 55)

array([[1524,  714, 1534, ..., 1414, 2097, 1889],
       [ 714,  366,  720, ...,  664, 1014,  890],
       [1534,  720, 1586, ..., 1441, 2148, 1922],
       ...,
       [1414,  664, 1441, ..., 1360, 1989, 1777],
       [2097, 1014, 2148, ..., 1989, 3058, 2635],
       [1889,  890, 1922, ..., 1777, 2635, 2408]], dtype=int64)

In [10]:
firms
#world_cities = pd.DataFrame(data=world_cities_adjmatrix, index=firms, columns=firms)
#G = nx.from_pandas_adjacency(world_cities)
#print(nx.info(G))

['KP',
 'CL',
 'EY',
 'AA',
 'PW',
 'GR',
 'DM',
 'LH',
 'SS',
 'TH',
 'OM',
 'DE',
 'YR',
 'TM',
 'PU',
 'AM',
 'HS',
 'BA',
 'NW',
 'ST',
 'CR',
 'DR',
 'MO',
 'PA',
 'CS',
 'BB',
 'BT',
 'UB',
 'AB',
 'CB',
 'BM',
 'WC',
 'LL',
 'CO',
 'SK',
 'BC',
 'DW',
 'GJ',
 'HH',
 'JD',
 'MC',
 'SQ',
 'WE',
 'AO',
 'CC',
 'FF',
 'Unnamed: 47']